<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077661821078-tcort15870thbusstpj5vni3b736rsap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077661821078-tcort15870thbusstpj5vni3b736rsap</string>
	<key>API_KEY</key>
	<string>AIzaSyDboPNU6jNoD_wj_vLiuYoz5xmbJZ3Xn5I</string>
	<key>GCM_SENDER_ID</key>
	<string>1077661821078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>udemy-chat-ae571</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-chat-ae571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077661821078:ios:075f644c1c32a48fd23ab7</string>
</dict>
</plist>